{% extends 'layout.html' %}
{% block contenido %}

<body>
    <div class="container py-2">
        <form action="{{url_for ('asociar_proveedor_a_producto', cod_prod = id) }}" method="post" novalidate>

            {{ form.hidden_tag() }}
            <div>

                <hr>

                <div
                    class="row negrita col-xs-12 col-sm-12 col-md-12 col-lg-12 justify-content-center align-self-center">
                    <span>
                        <h5>ASOCIAR UN PROVEEDOR A UN PRODUCTO</h5>
                    </span>
                </div>
                <br>

                <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                        <label for="" style="font-weight:bold; color:black; ">{{ form.producto.label }}</label>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" style="width: 100%;">
                        {{ form.producto(readonly="reandoly") }}

                        {% if form.producto.errors %}
                        <span style="font-size: 9px; color: red; font-family: tahoma;">{{ mensaje }}</span>
                        {% endif %}
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <label for="" style="font-weight:bold; color:black; ">Asignar Proveedor:</label>
                        {{ form.sel_prov }}
                        {% if form.sel_prov.errors %}
                        <span style="font-size: 9px; color: red; font-family: tahoma;">{{ mensaje }}</span>
                        {% endif %}
                    </div>
                </div>
                <br>

                <hr>

                <div>
                    {% for mess in get_flashed_messages()  %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        {{mess}}
                    </div>
                    {% endfor %}

                </div>

                <div
                    class="row col-xs-12 col-sm-12 col-md-12 col-lg-12 py-2 px-5 justify-content-center align-self-center">

                    <button data-toggle='tooltip' data-placement='top' title='Asociar Proveedor'
                        class="btn btn-info  btn-sm" type="submit">
                        Asociar Proveedor
                    </button>


                    <span>&nbsp;</span>

                    <a href="{{ url_for('listar_productos') }}">
                        <button data-toggle='tooltip' data-placement='top' title='Retornar a la página anterior'
                            class="btn btn-danger  btn-sm" type="button">
                            Cancelar
                        </button>
                    </a>
                </div>
            </div>
        </form>
    </div>

</body>
{% endblock %}