{% extends 'layout.html' %}

<body>
    <div class="container py-2">

        <div>
            {% block contenido %}

            <div class="row negrita col-xs-12 col-sm-12 col-md-12 col-lg-12 justify-content-center align-self-center">
                <span>
                    <h5>LISTADO DE LOS PRODUCTOS</h5>
                </span>
            </div>
            <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12 justify-content-center align-self-center border">
                <table class="display responsive compact table-striped table-bordered table-hover" cellspacing="0"
                    style="width:100%; font-size: 10px;">
                    <thead>
                        <tr>
                            <th class="col-sm-1"># Ident. Producto</th>
                            <th class="col-sm-2 ">Nombre del Producto</th>
                            <th class="col-sm-4">Detalle del Producto</th>
                            <th class="col-sm-1">Cant. Mínima Req.</th>
                            <th class="col-sm-1">Cant. Disponible</th>
                            <th class="col-sm-1">Solicitar Pedido</th>
                            <th class="col-sm-2">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if lista %}
                            {% for item in lista %}

                            <tr>
                                <td>{{ item.id_producto }}</td>
                                <td>{{ item.producto }}</td>
                                <td>{{ item.descripcion }}</td>
                                <td class="text-right">{{ item.cantidad_minima }}</td>
                                <td class="text-right">{{ item.cantidad_disponible }}</td>
                                {% if item.cantidad_minima >  item.cantidad_disponible%}
                                    <td class="text-right" style="color: red;">{{ (item.cantidad_minima - item.cantidad_disponible) | round(2) }}
                                        

                                    </td>
                                {% else %}
                                    <td class="text-right" style="color: blue;"></td>
                                {% endif %}
                                <td>
                                    <a href="{{ url_for('editar_productos', cod_prod =  item.cod_prod) }}">
                                        <button data-toggle='tooltip' data-placement='top' title='Editar'
                                            class='btn btn-outline-primary btn-sm btnEditar'>
                                            <i class='fas fa-pencil-alt fa-sm' aria-hidden='true' title='Editar'>
                                            </i>
                                        </button>
                                    </a>

                                    <a href="{{ url_for('eliminar_productos', cod_prod =  item.cod_prod) }}">
                                        <button data-toggle='tooltip' data-placement='top' title='Eliminar'
                                            class='btn btn-outline-danger btn-sm btnBorrar'>
                                            <i class='far fa-trash-alt fa-sm' aria-hidden='true' title='Eliminar'>
                                            </i>
                                        </button>
                                    </a>

                                    <a href="{{ url_for('asociar_proveedor_a_producto', cod_prod =  item.cod_prod) }}">
                                        <button data-toggle='tooltip' data-placement='top' title='Asociar Proveedor'
                                            class='btn btn-outline-info btn-sm btnAsociar'>
                                            <i class='fa fa-exchange    fa-sm' aria-hidden='true' title='Asociar Proveedor'>
                                            </i>
                                        </button>
                                    </a>
                                </td>
                            </tr>

                            {% endfor %}
                        {% else %}
                        <tr>
                            <td class="col-sm-12">No existe ningún producto en el listado.</td>
                        </tr>
                        {% endif %}


                    </tbody>
                </table>

            </div>
            <hr>
            <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12 py-2">
                <a href="{{ url_for('guardar_productos') }}">
                    <button data-toggle='tooltip' data-placement='top' title='Crear un nuevo producto'
                        class="btn btn-primary  btn-sm" type="button">
                        Crear un Producto
                    </button>
                </a>

                <span>&nbsp;</span>

                <a href="{{ url_for('modulos') }}">
                    <button data-toggle='tooltip' data-placement='top' title='Retornar a la página anterior'
                        class="btn btn-danger  btn-sm" type="button">
                        Retornar
                    </button>
                </a>
            </div>
        </div>
    </div>

</body>
{% endblock %}