{% extends 'layout.html' %}

<body>
    <div class="container py-2">

        <div>
            {% block contenido %}

            <div class="row negrita col-xs-12 col-sm-12 col-md-12 col-lg-12 justify-content-center align-self-center">
                <span>
                    <h5>LISTADO DE LOS PROVEEDORES</h5>
                </span>
            </div>
            <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12 justify-content-center align-self-center border">
                <table class="display responsive compact table-striped table-bordered table-hover" cellspacing="0"
                    style="width:100%; font-size: 10px;">
                    <thead>
                        <tr>
                            <th class="col-sm-1"># Ident.Prov</th>
                            <th class="col-sm-2">Nombre del Proveedor</th>
                            <th class="col-sm-3"># Telef(s) Proveedor</th>
                            <th class="col-sm-4">Dirección</th>
                            <th class="col-sm-2">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if lista %}
                            {% for item in lista %}

                            <tr>
                                <td>{{ item.id_prov }}</td>
                                <td>{{ item.nombre_prov }}</td>
                                <td>{{ item.telef_prov }}</td>
                                <td>{{ item.direccion_prov }}</td>
                                <td>
                                    {% if  g.user.cod_rol == 1%}
                                    <a href="{{ url_for('editar_proveedores', cod_prov =  item.cod_prov) }}">
                                        <button data-toggle="tooltip" data-placement="top" title="Editar"
                                            class="btn btn-outline-primary btn-sm btnEditar">
                                            <i class="fas fa-pencil-alt fa-sm" aria-hidden="true" title="Editar">
                                            </i>
                                        </button>
                                    </a>

                                    <a href="{{ url_for('eliminar_proveedores', cod_prov =  item.cod_prov) }}">
                                        <button data-toggle="tooltip" data-placement="top" title="Eliminar"
                                            class="btn btn-outline-danger btn-sm btnBorrar">
                                            <i class="far fa-trash-alt fa-sm" aria-hidden="true" title="Eliminar"></i>
                                        </button>
                                    </a>
    
                                    <a href="{{ url_for('asociar_producto_a_proveedor', cod_prov =  item.cod_prov) }}">
                                        <button data-toggle='tooltip' data-placement='top' title='Asociar Producto'
                                            class='btn btn-outline-info btn-sm btnAsociar'>
                                            <i class='fa fa-exchange fa-sm' aria-hidden='true' title='Asociar Producto'></i>
                                        </button>
                                    </a>
                                    {% endif %}
                                </td>
                            </tr>

                            {% endfor %}
                        {% else %}
                            <tr>
                                <td  class="col-sm-12">No existe ningún proveedor en el listado.</td>
                            </tr>
                        {% endif %}

                    </tbody>
                </table>

            </div>
            <hr>
            <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12 py-2">
                {% if  g.user.cod_rol == 1%}
                <a href="{{ url_for('guardar_proveedores') }}">
                    <button data-toggle='tooltip' data-placement='top' title='Crear un nuevo proveedor'
                        class="btn btn-primary  btn-sm" type="button">
                        Crear un Proveedor
                    </button>
                </a>
                {% endif %}
                <span>&nbsp;</span>
                <a href="{{ url_for('modulos') }}">
                    <button data-toggle='tooltip' data-placement='top' title='Retornar a la página anterior'
                        class="btn btn-danger  btn-sm" type="button">
                        Retornar
                    </button>
                </a>
            </div>
        </div>
    </div>

</body>
{% endblock %}