{% extends 'layout.html' %}

{% block contenido %}

<body>
    <div class="container py-2">

        <div>

            <div class="row negrita col-xs-12 col-sm-12 col-md-12 col-lg-12 justify-content-center align-self-center">
                <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12 justify-content-center align-self-center">
                    <img src="{{ url_for('static', filename='imagenes/logo.ico') }}" width="100">
                </div>
                <span>
                    <h5>Geely Automóviles</h5>
                </span>
            </div>
            <br>

            <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12">

                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <label class="negrita" for="">Nuestro Sistema</label>
                    <p>
                        Este Sistema para Control de Inventario está diseñado para consultar en en tiempo real cuando un producto está debajo del stock mínimo, así como llevar la lista completa con los productos y las cantidades que se requieren comprar comprar.
                        Es un sistema sencillo e intuitivo diseñado para simplificar rutinas de control y detalle de los proveedores con los productos que nos ofrecen.

                    </p>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <label class="negrita" for="">Nuestro Equipo de Desarrolladores</label>
                    <p>
                        Este equipo de desarrollo está formado por varios estudiantes con funciones diferentes y por tanto, con habilidades distintas. Y es precisamente al aporte de esas capacidades las que llevan al cumplimiento de los objetivos y además de un constante seguimiento y guía de un programador experto asignado.
                    </p>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <label class="negrita" for="">Requerimientos</label>
                    <p>
                        Los requerimientos mínimos requeridos: 
                            - Host o almacenamiento en la nube
                            - Acceso a internet
                            - Recursos mínimos de hardware en un equipo de cómputo.

                    </p>
                </div>

                <div
                    class="row col-xs-12 col-sm-12 col-md-12 col-lg-12 py-2 px-5 justify-content-center align-self-center">
                    <a href="{{ url_for('modulos') }}">
                        <button data-toggle='tooltip' data-placement='top' title='Retornar a la página anterior'
                            class="btn btn-danger  btn-sm" type="button">
                            Retornar
                        </button>
                    </a>
                </div>


            </div>
            <br>
        </div>
    </div>

</body>
{% endblock %}