{% extends 'layout.html' %}

</div>
{% block headermodulos %}
<div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 ">

    <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12 px-2 py-2 justify-content-end align-self-end">
        <span style="font-size: 1rem; color: #fb3000;">
            <i class="fas fa-user"></i>
            <label for="">{{ g.user.nombre_usu }}</label>
            <a href=""></a>
        </span>

        <span class="px-2">
            <a href="{{ url_for('logout') }}">
                <button data-toggle='tooltip' data-placement='top' title='Salir del Sistema' type="button"
                    class="btn btn-danger  btn-sm">
                    Cerrar sesion
                </button>
            </a>
        </span>
    </div>

</div>
{% endblock %}
</div>

{% block contenido %}

<body>
    <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <nav class="navbar navbar-expand-md navbar-light bg-light">
            <a class="navbar-brand negrita" href="{{ url_for('modulos') }}">Geely</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    {% if  g.user.cod_rol == 1 or g.user.cod_rol == 2 %}
                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle negrita" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Administrar Usuarios
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{{ url_for('listar_usuarios') }}">Listado de Usuarios</a>
                        </div>
                    </li>
                    {% endif %}

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle negrita" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Proveedores
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{{ url_for('listar_proveedores') }}">Listados de
                                Proveedores</a>
                            <a class="dropdown-item" href="{{ url_for('buscar_productos_por_proveedor') }}">Verificar
                                Proveedores x Prod.</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle negrita" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Productos
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{{ url_for('listar_productos') }}">Lista de Productos</a>
                            <a class="dropdown-item" href="{{ url_for('buscar_proveedor_por_productos') }}">Verificar
                                Productos</a>

                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="{{ url_for('acerca_de_nosotros') }}"><span>Acerca de</span></a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="container py-2">
        <div>
            <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12 border">
                <div id="nav-placeholder">
                </div>
            </div>

            <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 border">
                    <div
                        class="row col-xs-12 col-sm-12 col-md-12 col-lg-12 px-2 py-2 justify-content-center align-self-center ">
                        <h5>Usuarios del Sistema</h5>
                    </div>

                    <div
                        class="row col-xs-12 col-sm-12 col-md-12 col-lg-12 px-2 py-2 justify-content-center align-self-center ">
                        <span style="font-size: 2rem; color: #2471A3;">
                            <i class="fas fa-user-shield"></i>
                        </span>
                    </div>

                    <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12 px-2 py-2">

                        <p>Son todos aquellas personas que pueden tener acceso a la aplicación y que son las que realmente ingresan la información, y que dependiendo de su rol tienen ciertas privilegios y/o restricciones en la utilización de todas las funciones desarrolladas.</p>
                    </div>

                </div>

                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 border px-2 py-2">

                    <div
                        class="row col-xs-12 col-sm-12 col-md-12 col-lg-12 px-2 py-2 justify-content-center align-self-center ">
                        <h5>Proveedores</h5>
                    </div>

                    <div
                        class="row col-xs-12 col-sm-12 col-md-12 col-lg-12 px-2 py-2 justify-content-center align-self-center ">
                        <span style="font-size: 2rem; color: #922B21;">
                            <i class="fas fa-id-card"></i>
                        </span>
                    </div>


                    <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12 px-2 py-2">

                        <p>
                            Son todas aquellas personas naturales o jurídicas que realizan operaciones comerciales con nosotros, a través de un suministro y/o compra de productos para la fabricación o transformación pudiendo contribuir al producto final de la empresa.
                            Este registro de los proveedores, nos permite llevar un control individual los insumos que cada uno ofrece o comercializa. 

                        </p>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 border px-2 py-2">
                    <div
                        class="row col-xs-12 col-sm-12 col-md-12 col-lg-12 px-2 py-2 justify-content-center align-self-center ">
                        <h5>Productos</h5>
                    </div>

                    <div
                        class="row col-xs-12 col-sm-12 col-md-12 col-lg-12 px-2 py-2 justify-content-center align-self-center ">
                        <span style="font-size: 2rem; color: #F0B27A;">
                            <i class="fas fa-car"></i></span>
                    </div>

                    <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12 px-2 py-2">

                        <p>Un producto y/o insumo es el ítem del inventario el cual se desea controlar y hacer seguimiento. Es el recurso que la empresa requiere para lograr un producto final que se ofrecerá al nuestros clientes. </p>
                    </div>

                </div>

            </div>

            <div>
                {% for mess in get_flashed_messages()  %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    {{mess}}
                </div>
                {% endfor %}

            </div>

        </div>
</body>

{% endblock %}
